<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revolhope.mylibra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.revolhope.presentation.feature.splash.SplashActivity"
            android:theme="@style/Theme.StarWarsApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.revolhope.presentation.feature.dashboard.DashboardActivity"
            android:theme="@style/Theme.StarWarsApp" />

        <activity
            android:name="com.revolhope.presentation.feature.planets.PlanetsActivity"
            android:theme="@style/Theme.StarWarsApp"
            android:label="@string/planets"/>

        <activity
            android:name="com.revolhope.presentation.feature.characters.CharactersActivity"
            android:theme="@style/Theme.StarWarsApp"
            android:label="@string/characters"/>

        <activity
            android:name="com.revolhope.presentation.feature.species.SpeciesActivity"
            android:theme="@style/Theme.StarWarsApp"
            android:label="@string/species"/>
    </application>

</manifest>
